<!DOCTYPE html>
<html lang="en" ng-app="CustomerApp">
<head>
  <title>ShopMore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

  <style>
    .smarty-ui{
      z-index:1051;
    }
    .smarty-autocomplete {
      position: relative;
      right:40px;
      top:85px;
    }
    .smarty-tag{
      position: relative;
      top:90px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ShopMore</a>
  <div class="collapse navbar-collapse navbar-right" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="user_info_nav_group">
      <li>
        <button class="btn btn-outline-success mr-sm-2" data-toggle="modal" data-target="#login_modal">Login</button>
      </li>
      <li>
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#register_modal">Register</button>
      </li>
      <li class="dropdown-down dropdown-menu-right ml-sm-2 d-none">
        <button class="btn btn-outline-success dropdown-toggle" id="user_info_facade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_info_dropdown">
          <span class="dropdown-item" id="logout">Logout</span>
          <span class="dropdown-item" id="change_password">Change Password</span>
          <span class="dropdown-item">Something else here</span>
        </div>
      </li>
    </ul>
  </div>
</nav>


<!-- LOGIN Modal -->
<div class="modal fade" id="login_modal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login_form">
          <div class="form-group">
            <label for="login_user_email_address">Email address</label>
            <input type="email" name="email" class="form-control" id="login_user_email_address" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="login_user_password">Password</label>
            <input type="password" name = "pw" class="form-control" id="login_user_password" placeholder="Password">
          </div>
          <button id = "btn_login" type="button" class="btn btn-primary">Submit</button>
          <button id="btn_reset" type="button" class="btn btn-warning">Reset Password</button>
        </form>
        <div class="alert alert-primary d-none mt-sm-4" role="alert" id="login_resp"></div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- REGISTER Modal -->
<div class="modal fade" id="register_modal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ng-controller="HomeController">
              <form id="register_form">
                <div class="form-group">
                  <label for="user_first_name">First Name</label>
                  <input type="text" name="firstName" class="form-control" id="user_first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="user_last_name">Last Name</label>
                  <input type="text" name="lastName" class="form-control" id="user_last_name" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <label for="reg_user_email_address">Email address</label>
                  <input type="email" name="email" class="form-control" id="reg_user_email_address" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="reg_user_password">Password</label>
                  <input type="password" name = "pw" class="form-control" id="reg_user_password" placeholder="Password">
                </div>
          <form id = "addressform">
            <label for="newaddress">Address</label>
            <br>
            <input type="text" id="newaddress" name="newaddress" placeholder="Address">
            <br>
            <p></p>
            <div class="dropdown">
              <button class="btn  btn-primary dropdown-toggle"
                      type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                Choose the type of address
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a ng-click="addressKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
              </div>
            </div>
            <input type="text" ng-model="selectedAddressKind" id="addresstype" name="addresstype"><br>
          </form>
          <p></p>
          <button id = "btn_register" type="button" class="btn btn-primary">Submit</button>
          <div class="alert alert-primary d-none mt-sm-4" role="alert" id="register_resp"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="pass_reset_modal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reset Passoword</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pass_reset_form">
          <div class="form-group">
            <label for="user_email">Email address</label>
            <input type="text" name="user_email" class="form-control" id="user_email">
          </div>
          <button id = "btn_pass_reset" type="button" class="btn btn-primary">Submit</button>
        </form>
        <div id="reset_req_result" class="mt-sm-2 d-none alert alert-primary" role="alert"></div>
      </div>
    </div>
  </div>
</div>

<div id="catalog_stuff">
  <a href="catalog.html">Shop All Categories</a>
  |
  <a href="categories.html">Shop By Category</a>
  |
  <a href="cart.html">View Cart</a>
</div>

<!-- Item details -->
<div id="orders_info" >
  <center>
    <br />
    <h4 id="categ_title">All Items</h4>
    <br />
    <ul id="orders_order">No Available Items</ul>
  </center>
</div>


<script type="text/javascript">

    let s3 = jQuery.LiveAddress({
        key: "5343278949107026",
        waitForStreet: true,
        debug: true,
        target: "US",
        addresses: [{
            id: "myID",
            freeform: '#newaddress'
        }]
    });

    s3.deactivate("myID");

    $("#register_modal").on("shown.bs.modal", function () {
        // Reactivate the form when not hidden
        s3.activate("myID");
        // This line helps to make sure the checkmark goes back to where it belongs
        $(window).resize();
    });

    $("#register_modal").on("hide.bs.modal", function() {
// Deactivate the form when hidden
        s3.deactivate("myID");
    });

    s3.on("AddressAccepted", function(event, data, previousHandler)
    {
        console.log("Address accepted");
        //$.post('/api/addressaccepted', $('#addressform').serialize());
    });

  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    $.post('/api/tokenlogin', {"token": googleUser.getAuthResponse().id_token, "password": profile.getId()})
    .done(
      function(response) {
        var full_name = profile.getName();
        var first_name = full_name.split(" ")[0];
        var last_name = full_name.split(" ").slice(1).join(" ");
        var user = {
          firstName: first_name,
          lastName: last_name
        }
        setUser(user);
        $('#login_modal').modal('toggle');
        createCookie("user_id", user.id);
      }
    )
    .fail(function() {
      $('#login_resp').removeClass('d-none').html("Forbidden: Invalid credentials");
    });
  }

  $('#logout').click(function(){
    eraseCookie("user_id");
    $('#user_info_nav_group li:nth-child(3)').addClass('d-none');
    $('#user_info_nav_group li:lt(2)').removeClass("d-none");
    signOut();
  });

  function createCookie(name,value,days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
  }

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  function eraseCookie(name) {
    createCookie(name,"",-1);
  }

  function setUser(user) {
    $('#user_info_facade').html(user.firstName + " " + user.lastName);
    $('#user_info_nav_group li:nth-child(3)').removeClass('d-none');
    $('#user_info_nav_group li:lt(2)').addClass("d-none");
  }

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }

  function getProfileOrders() {
    // var my_url = window.location.href.split("/");
    var itm_id = getParameterByName('itemid');
    // var itm_id = my_url[my_url.length - 1];
    // var itm_id2 = my_url[my_url.length - 2];
    console.log(itm_id)

    if (itm_id == null) {
            //get all
            var lis = '';
            $.get('/api/wholecatalog').done(function(resp) {
                    console.log(resp)
                    for (var i = 0; i < resp.length; i++) {
                            var itme = resp[i]
                            lis += "<br /><br /><br /><li>"
                            lis += "Product ID: " + itme.id + "<br />"
                            lis += "Name: <a href=\"/product.html?prodid=" + itme.id + "\">" + itme.name + "</a><br />"
                            lis += "Description: " + itme.description + "<br />"
                            lis += "Price: " + itme.price + "<br />"
                            lis += "Category: " + itme.category + "<br />"
                            lis += "<img src=\"" + itme.img_url + "\"></img></li>"
                    }
                    $('#orders_order').html(lis);
            });
    } else {
            var lis = '';
            $.get('/api/shop/' + itm_id).done(function(resp) {
                    for (var i = 0; i < resp.length; i++) {
                            var itme = resp[i]
                            lis += "<br /><br /><br /><li>"
                            lis += "Product ID: " + itme.id + "<br />"
                            lis += "Name: <a href=\"/product.html?prodid=" + itme.id + "\">" + itme.name + "</a><br />"
                            lis += "Description: " + itme.description + "<br />"
                            lis += "Price: " + itme.price + "<br />"
                            lis += "Category: " + itme.category + "<br />"
                            lis += "<img src=\"" + itme.img_url + "\"></img>"
                    }
                    $('#orders_order').html(lis);
                    $('#categ_title').html(itm_id);
            });

    }

  }

  $('#login_modal #btn_login').click(function() {
    $.post('/api/login', $('#login_form').serialize())
    .done(function(response) {
      if(response.msg == "LoggedIn") {
        var link = response.links[0].href;

        $.get(link)
        .done(function(user) {
          setUser(user);
          $('#login_modal').modal('toggle');
          createCookie("user_id", user.id);
        });
      }
    })
    .fail(function() {
      $('#login_resp').removeClass('d-none').html("Forbidden: Invalid credentials");
    });
  });


  $("#register_modal #btn_register").click(function() {
    $.post('/api/register', $('#register_form').serialize())
    .done(function(response) {
        var cbo = require('../resources/customers/customersbo');
        var adr = $("#register_modal #newaddress").val();
        var adrtype = $("#register_modal #addresstype").val();
        cbo.setAddress(response.id, adr, adrtype, 'null', 'null', 'null', context);

      $('#register_resp')
      .removeClass('d-none')
      .html('Activate your account using link sent to your registered email');
    });
  });
  $('#login_modal #btn_reset').click(function() {
    $('#login_modal').modal('toggle');
    $('#pass_reset_modal').modal('toggle');
  });

  $('#btn_pass_reset').click(function() {
    $.post('/api/passresetreq', $('#pass_reset_form').serialize())
    .done(function(resp) {
      $('#reset_req_result').removeClass('d-none');
      $('#reset_req_result').html(resp);
    });
  });

  $('#change_password').click(function(){
    $('#pass_reset_modal').modal('toggle');
    var cookie_user_id = readCookie('user_id');
    var link = '/customers/' + cookie_user_id;
    $.get(link)
    .done(function(resp) {
      $('#pass_reset_modal #user_email').val(resp.email);
    })
  });

  $(document).ready(function(){
    var cookie_user_id = readCookie("user_id");
    if(cookie_user_id) {
      // a user is already logged in
      $.get("/api/customers/" + cookie_user_id)
      .done(function(user) {
        setUser(user);

        // remind the user that his/her accout needs activation
        if(user.status == "PENDING") {
          alert('Please activate your account');
        }
      });
    }
    getProfileOrders();
  });
</script>

<script>
    var customerapp = angular.module("CustomerApp", []);

    customerapp.controller("HomeController", function($scope, $http, $location, $window) {


        $scope.placeholder = "enter an address and select a choice."

        $scope.addressKinds = ['Home', 'Work', 'Other']

        $scope.addressKind = function(idx) {
            console.log("Address kind = " + $scope.addressKinds[idx]);
            $scope.selectedAddressKind = $scope.addressKinds[idx];
        };


    });
</script>
</body>
</html>
